@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;700&display=swap");
html,
body,
textarea {
  font-family: "Exo 2", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100%;
}

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0 auto;
}

.site-container {
  height: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
}

h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
}

h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}

h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
}

h5 {
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
}

h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #09061F;
}

@media (max-width: 991px) {
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}
.footer {
  background: #012827;
  padding: 100px 0px;
}
@media (max-width: 991px) {
  .footer {
    padding: 50px 0px;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .footer__nav {
    margin: 50px 0px;
  }
}
.footer__nav-item {
  padding: 0px 20px;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  transition: opacity 0.2s linear;
}
@media (max-width: 768px) {
  .footer__nav-link {
    font-size: 16px;
  }
}
.footer__nav-link:hover {
  opacity: 0.5;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo-img {
  margin-right: 10px;
}
.footer__logo-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 110%;
  color: #FFFFFF;
}
.footer .up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #000;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.header {
  padding: 30px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 991px) {
  .header {
    padding: 19px 0px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo .logo-img {
  margin-right: 15px;
}
.header-logo .logo-img img {
  width: 40px;
  height: 40px;
}
.header-logo .logo-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 110%;
  color: #061F0B;
}
.header__nav {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header__nav {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 79px;
    background: #fff;
    padding: 30px;
    left: 0;
    transition: 0.2s linear;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}
.header__nav--opened {
  opacity: 1;
  visibility: visible;
}
.header__nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #09061F;
  transition: color 0.2s linear;
}
.header__nav-link:hover {
  color: #678188;
}
.header__nav-item {
  padding: 0px 20px;
}
@media (max-width: 991px) {
  .header__nav-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  .header__nav-item a {
    width: 100%;
    display: block;
  }
}
@media (min-width: 991px) {
  .header__nav-item--mobile {
    display: none;
  }
}
.header__btns {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header__btns {
    display: none;
  }
}
.header__btns a:first-child {
  margin-right: 20px;
}
.header__btns .fill-btn {
  padding: 15px 33px;
}
.header .burger-menu {
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0;
}
@media (min-width: 991px) {
  .header .burger-menu {
    display: none;
  }
}
.header .burger-menu span {
  transition: 0.2s linear;
}
.header .burger-menu span:nth-child(1), .header .burger-menu span:nth-child(2), .header .burger-menu span:nth-child(3) {
  display: block;
  height: 3px;
  background: #000;
  width: 100%;
  position: absolute;
}
.header .burger-menu span:nth-child(1) {
  transform: translateY(-10px);
}
.header .burger-menu span:nth-child(3) {
  transform: translateY(10px);
}

.burger-menu.opened span:nth-child(2) {
  width: 0;
}
.burger-menu.opened span:nth-child(1) {
  transform: translate(0) rotate(45deg);
}
.burger-menu.opened span:nth-child(3) {
  transform: translate(0) rotate(-45deg);
}

body.header--fixed {
  padding-top: 115px;
}
@media (max-width: 991px) {
  body.header--fixed {
    padding-top: 79px;
  }
}
body.header--fixed .header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 99;
}

.border-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #061F0B;
  padding: 14px 60px;
  border: 2px solid #000000;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.border-btn:hover {
  background: #012827;
  color: #fff;
}
.border-btn:active {
  background: #064F4D;
  border-color: #064F4D;
  color: #fff;
}

.fill-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #fff;
  padding: 15px 60px;
  border: 2px solid #012827;
  border-radius: 8px;
  transition: all 0.2s linear;
  background: #012827;
}
.fill-btn:hover {
  background: #064F4D;
  color: #fff;
  border-color: #064F4D;
}
.fill-btn:active {
  background: #064F4D;
  border-color: #064F4D;
  color: #fff;
}

.main-screen {
  padding-top: 100px;
}
.main-screen__text {
  max-width: 50%;
}
@media (max-width: 1200px) {
  .main-screen {
    padding-top: 50px;
  }
  .main-screen .subtitle {
    margin: 0 auto;
  }
  .main-screen__text {
    max-width: 100%;
    text-align: center;
  }
}

.reserve__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  grid-gap: 30px;
  justify-content: center;
}
@media (max-width: 768px) {
  .reserve__inner {
    grid-gap: 10px;
  }
}
.reserve__item {
  display: flex;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.reserve__item-img {
  margin-right: 10px;
}
.reserve__item-text span {
  display: block;
}
.reserve__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #09061F;
}
.reserve__item-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(9, 6, 31, 0.5);
}

.exchange .container .section-title {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .exchange .container .section-title {
    margin-bottom: 20px;
  }
}
.exchange__text {
  max-width: 900px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #09061F;
}
@media (max-width: 768px) {
  .exchange__text {
    font-size: 16px;
  }
}
.exchange img {
  display: block;
  margin: 0 auto;
  margin-top: -150px;
  position: relative;
  z-index: 1;
  max-width: 800px;
  width: 100%;
}
@media (max-width: 768px) {
  .exchange img {
    margin-top: -80px;
  }
}
@media (max-width: 568px) {
  .exchange img {
    margin-top: -50px;
  }
}
.exchange__contact-line {
  position: relative;
  z-index: 5;
  padding: 88px 50px;
  background: #B0CECD;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-top: -280px;
}
@media (max-width: 768px) {
  .exchange__contact-line {
    margin-top: -200px;
    padding: 20px !important;
  }
}
@media (max-width: 991px) {
  .exchange__contact-line {
    padding: 50px 30px;
  }
}
@media (max-width: 568px) {
  .exchange__contact-line {
    margin-top: -50px;
  }
}
.exchange__contact-line ul {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .exchange__contact-line ul {
    flex-direction: column;
  }
}
.exchange__contact-line ul a {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #09061F;
}
@media (max-width: 991px) {
  .exchange__contact-line ul a {
    font-size: 18px;
  }
}
.exchange__contact-line ul li:not(:last-child) {
  margin-right: 90px;
}
@media (max-width: 991px) {
  .exchange__contact-line ul li:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .exchange__contact-line ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.news .container {
  position: relative;
}
@media (max-width: 991px) {
  .news__nav-prev, .news__nav-next {
    display: none;
  }
}
.news__nav-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 95px;
}
.news__nav-prev {
  margin-right: 25px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.news__nav-prev:hover {
  opacity: 0.5;
}
.news__nav-next {
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.news__nav-next:hover {
  opacity: 0.5;
}
.news__nav-disabled {
  opacity: 0.3;
}
.news__slider {
  width: 100%;
}
@media (max-width: 1300px) {
  .news__slider {
    max-width: 991px;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .news__slider {
    max-width: 615px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .news__slider {
    max-width: 300px;
  }
}
.news__slider-wrapper {
  display: flex;
}
.news__slider-slide .news-preview {
  width: 100%;
  height: auto;
}
.news__slider-slide .news-preview img {
  width: 300px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.news__slider-slide .news-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #09061F;
  padding-top: 20px;
  padding-bottom: 5px;
}
.news__slider-slide .news-spoiler {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #09061F;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #123232;
  background: #B0CECD;
  border-radius: 78px;
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
  max-width: 220px;
}

.section {
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .section {
    margin-bottom: 100px;
  }
}
.section .subtitle {
  margin-bottom: 30px;
}
.section .section-title {
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .section .section-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .section .section-title {
    margin-bottom: 20px;
  }
}

.m-auto {
  margin: 0 auto;
}